source http://nuget.org/api/v2

group Analyzers
  source http://nuget.org/api/v2
  framework >= net45
  nuget AsyncUsageAnalyzers
  nuget IDisposableAnalyzers
  nuget StyleCop.Analyzers
  nuget Gu.Analyzers
  nuget PropertyChangedAnalyzers
  nuget WpfAnalyzers
  nuget JetBrains.Annotations

group Test
  source http://nuget.org/api/v2
  framework >= net45
  nuget NUnit